* {
  font-family: "Manrope", sans-serif;
}

:root {
  --mainColor: black;
}
/* loader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #000; */
    transition: 5s;
    z-index: 1000;
}

.preloader:before {
    content: '';
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #ff8800;
    transition: 5s;
}
.preloader:after {
        content: '';
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%;
        background: #ff8800;
        transition: 5s;
}
.preloader.complete:before {
left: -50%;
}
.preloader.complete:after {
    right: -50%;
    }

    .loader {
        
        width: 40px;
        height: 40px;
        position: absolute;
        border: 4px solid #000;
        box-sizing: border-box;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        animation: animate 2s linear infinite;
        z-index: 1000;
    }
     .loader:before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         background: black;
         animation: animateBg 2s linear infinite;
     }
      @keyframes animateBg {
        0% {
            height: 0;
        }
        
        25% {
            height: 0;

        }
        
        50% {
            height: 100%;

        }
        
        75% {
            height: 100%;

        }
        
        100% {
            height: 0;

        }
      }
      
      @keyframes animate {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);

        }
        
        25% {
            transform: translate(-50%, -50%) rotate(180deg);
        }
        
        50% {
            transform: translate(-50%, -50%) rotate(180deg);
        }
        
        75% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
        
        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
      }
/* header */
.navbar-hr {
    margin-bottom: 70px;
    height: 100vh;
}
.container-hr {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.logo-company-hr {
    position: fixed;
}
.logo__boulay {
  height: 90vh !important;
  margin-top: 30px;
  margin-left: 50px;
}
.nav-ulist {
  list-style-type: none;
  display: flex;
}

#navbarNav {
  display: flex;
  background-color: #ff8800;
  margin-right: 40px;
  position: fixed;
  top: 0;
  right: 1;
  z-index: 10; 
}
.nav-ulist {
  padding: 0px !important;
  margin: 0px;
}

.oo-l {
  border-left: 1.5px solid black;

}
.resv-l {
  border-left: 1.5px solid black;
  border-right: 1.5px solid black;

}

.nav-link {
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 0;
  padding-bottom: 13px;
  padding-top: 13px;
  padding-left: 25px;
  padding-right: 25px;
}

.nav-link {
    background: linear-gradient(
      to bottom,
      var(--mainColor) 0%,
      var(--mainColor) 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1.5px 1.5px;
    color: black;
    text-decoration: none;
    transition: background-size 0.9s;
  }

.nav-link:hover {
  color: white !important;
  background-size: 4px 50px;
}

.char {
  text-transform: uppercase;
}

.main-content-hr {
  position: absolute;
  top: 10%;
  left: 30%;
  text-align: center;
}

.company__name {
  font-family: "Playfair Display", serif !important;
  font-size: 100px;
  font-weight: 100;
  margin: 0px;
}
.sub-div-content {
  margin-top: 15px;
  margin-bottom: 15px;
}
.sub-content {
  
  letter-spacing: 1px;
  margin: 10px 0px;
  font-size: 40px;
}
.horz-line {
  letter-spacing: -2px;
  font-size: 10px;
}

.animate {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.two {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

/*=== FADE IN DOWN ===*/
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.burger__img {
  height: 550px;
  position: absolute;
  top: 0;
  top: 20%;
  left: 60%;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}

a.link__more {
    text-decoration: none;
}

.link-hr {
    margin-top: 20px;
}

/* Nimation */
/* // Variables
// --------- */
@-webkit-keyframes slideInUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(50%);
              transform: translateY(50%);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  @keyframes slideInUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(50%);
              transform: translateY(50%);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  @-webkit-keyframes slideInDown {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  @keyframes slideInDown {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  @-webkit-keyframes slideInleft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(50%);
              transform: translateX(50%);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  @keyframes slideInleft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(50%);
              transform: translateX(50%);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  @-webkit-keyframes slideInRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  @keyframes slideInRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  @keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  @-webkit-keyframes zoomReverseIn {
    0% {
      opacity: 0;
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  @keyframes zoomReverseIn {
    0% {
      opacity: 0;
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  @-webkit-keyframes flipInY {
    0% {
      opacity: 0;
      -webkit-transform: rotateY(90deg);
              transform: rotateY(90deg);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  @keyframes flipInY {
    0% {
      opacity: 0;
      -webkit-transform: rotateY(90deg);
              transform: rotateY(90deg);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  [data-animation] {
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
  
  .animations-disabled, .animations-disabled [data-animation] {
    -webkit-animation: none !important;
            animation: none !important;
    opacity: 1 !important;
  }
  
  .slideInUp {
    -webkit-animation-name: slideInUp;
            animation-name: slideInUp;
  }
  
  .slideInDown {
    -webkit-animation-name: slideInDown;
            animation-name: slideInDown;
  }
  
  .slideInLeft {
    -webkit-animation-name: slideInleft;
            animation-name: slideInleft;
  }
  
  .slideInRight {
    -webkit-animation-name: slideInRight;
            animation-name: slideInRight;
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
  }
  
  .fadeOut {
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    animation-direction: reverse;
  }
  
  .zoomIn {
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
  }
  
  .zoomOut {
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
    animation-direction: reverse;
  }
  
  .zoomReverseIn {
    -webkit-animation-name: zoomReverseIn;
            animation-name: zoomReverseIn;
  }
  
  .zoomReverseOut {
    -webkit-animation-name: zoomReverseIn;
            animation-name: zoomReverseIn;
    animation-direction: reverse;
  }
  
  .flipInY {
    -webkit-animation-name: flipInY;
            animation-name: flipInY;
  }
  
  .flipOutY {
    -webkit-animation-name: flipInY;
            animation-name: flipInY;
    animation-direction: reverse;
  }
  

  /* main */
  /* after header */

  .container-ah {
      margin: 30px 0px;
      height: 100vh;
      padding: 0px;
      /* margin: 10rem; */
  }

  .img__dish {
      position: absolute;
      left: 25%;
      height: 70vh;
      width: auto;
      
  }
  
  .text__welcome {
      font-size: 70px;
      font-family: 'Playfair Display', serif !important;
      color: transparent;
      -webkit-text-stroke: 1.5px rgb(255,72,0);
      position: absolute;
      left: 15%;
   
    
  }

  .text__welcome:hover {
    color: black ;
    -webkit-text-stroke: 0.9px white;
    
  }
  
  @supports not(-webkit-text-stroke: 2px rgb(255,72,0)) {
    .text__welcome:hover {
      text-shadow:
        3px 3px 0 white,
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
    }
  }

  .content-ah {
     
      text-align: left;
  }

  .content__text-ah {
      margin-right: 40px;
      font-size: 45px;
    position: absolute;
    left: 78%;
    
  }
  .underline-deco {
      text-decoration: none;
    background: linear-gradient(to bottom, rgb(255,72,0) 0%, rgb(255,72,0) 100%);
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 3px 3px;
    color: #000;
    text-decoration: none;
  }
  
  .underline-deco:hover {
    color: #000;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
  }

  /* our-story */

  .header__content {
    font-size: 90px;
    font-family: 'Playfair Display', serif !important;
      text-align: center;
      color: transparent;
      -webkit-text-stroke: 1.5px rgb(255,72,0);
  }
  .story__content {
      text-align: justify;
      font-size: 45px;
  }

  .header__content:hover {
    color: black ;
    -webkit-text-stroke: 0.9px white;
    
  }
  
  @supports not(-webkit-text-stroke: 2px rgb(255,72,0)) {
    .text__welcome:hover {
      text-shadow:
        3px 3px 0 white,
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
    }
  }

  .link-bg-os {
      background-color: rgb(255,72,0);
      color: white !important;
  }

  /* overview */

  .video-div {
      border: 5px solid rgb(255,72,0);
  }

  .embed-responsive-item {
      
      padding: 5px;
  }

  /* menu */
.container-meenu {
    padding: 0px;
}
  .menu {
      margin: 70px 0px;
  }
  .food-dish {
      height: 45vh;
    margin: 10px;
      filter: drop-shadow(10px 5px 5px rgb(88, 88, 88));
  }

  .food-dish:hover {
    filter: drop-shadow(10px 5px 3px rgb(37, 37, 37));

  }

  .menu-dish__div {
      margin-top: 50px;
  }

  .horz-line-menu {
      position: absolute;
      width: 70vw;
  }

  /* conntact */
.contact {
    margin: 70px 0px;
    height: 100vh;
}
  .food-contact-1__img {
      position: absolute;
      height: 100vh;
      left: 25%;
  }

  .header__content-ct {
     
    font-size: 90px;
    font-family: 'Playfair Display', serif !important;
      /* text-align: center; */
      color: transparent;
      -webkit-text-stroke: 1.5px rgb(255,72,0);
  }
 

  .header__content-ct:hover {
    color: black ;
    -webkit-text-stroke: 0.9px white;
    
  }
  
  @supports not(-webkit-text-stroke: 2px rgb(255,72,0)) {
    .text__welcome:hover {
      text-shadow:
        3px 3px 0 white,
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
    }
  }

  .with__word {
      font-size: 30px !important;
      color:  rgb(255,72,0) !important }

      .para-ct {
          position: absolute;
          left: 55%;
      }
.para__content {
    margin-top: 3rem;
        /* position: absolute; */
        font-size: 25px;
        /* left: 50% !important; */
}
.main-contant-ct {
        position: absolute;
    
        left: 40%;
    }

    a.link-location-ct {
        text-decoration: none;
    }

    .fa-clock, .fa-street-view {
        color: rgb(255,72,0) ;
    }

p {
    line-height: 1.5;
}

/* outro */


.outro {
    /* height: 50vh; */
}

.content-outro {
    border-top: 5px solid rgb(255,72,0);
    border-bottom: 5px solid rgb(255,72,0);
    padding: 30px;
}

/* footer */

.grid-1-fr {
    padding-top: 30px;
   text-align: center;
}
.grid-2-fr {
    text-align: center;
    padding-top: 30px;
    border-left: 5px solid rgb(255,72,0) ;
}

.fr__img {
    height: 50px;
}